<div id="essence">
	<input type="text" class="form-control" placeholder="Text input">
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox1" value="option1"> -3
	</label>
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox2" value="option2"> -2
	</label>
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox3" value="option3"> -1
	</label>
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox4" value="option4"> 0
	</label>
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox5" value="option5"> 1
	</label>
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox4" value="option4"> 2
	</label>
	<label class="radio-inline">
		<input name="essence_1" type="radio" id="inlineCheckbox5" value="option5"> 3
	</label>
</div>