<div class="CSSTableGenerator" >
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Положительно:</td>
      <td id="positive-score"><%= @data['positive'] %></td>
    </tr>
    <tr>
      <td>Отрицательно:</td>
      <td id="positive-comparative"><%= @data['negative'] %></td>
    </tr>
    <tr>
      <td>Слова:</td>
      <td id="positive-words">
        <%= @data['features'].map{|fs| 
          fs.map{|f| "#{f['token']} #{f['strength']}"}.join('<br>')
        }.join(" ").html_safe %>
      </td>
    </tr>
  </table>      
</div>
            