<!DOCTYPE html>
<html>
<head>
  <title>MediaAnalyse</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header" style="position:relative; background-color: #eeeeee; border-radius: 15px">
	<a id="qqq" href="/"></a><h1 align="center">Система мониторинга и анализа СМИ</h1>
</div>
<%= yield %>

<div id="texts" class="col-md-offset-2 col-md-8">
	<a name="anctexts"></a>
</div>
</body>
</html>
